/*CONTENT PAGE*/
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
/**/

/*LOGIN CARD*/
.log_card {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
  padding: 40px;
  background-color: white;
  border-radius: 12px;
  justify-content: center;
  gap: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-sizing: border-box;
}

.test {
  height: 100%;
}
/**/

/*TOP SECITON LOGIN CARD*/

.logo_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 100%;
}

/**/
