/*FULL CONTENT CONTAINER*/
.outlet {
  width: 100%;
  background-color: #f2f4f3;
  padding: 12px;
}

/*NAV BAR TEXT*/
h2 {
  font-size: 11px;
  color: white;
  font-family: "Exo";
  margin: 0px;
}
/**/
