body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Open Sans"; /*POLICE TEXT PAR DEFAUT*/
}

/*FULL PAGE CONTAINER*/
.main {
  display: flex;
  width: auto;
  min-height: 100vh;
  box-sizing: border-box;
}

/*FULL CONTENT CONTAINER*/
.outlet {
  display: flex;
  min-width: calc(100% - 150px);
  min-height: 100vh;
  /* background-color: #f2f4f3; */
  background-color: #f2f4f3;
  padding: 12px;
  box-sizing: border-box;
}

@media (max-width: 1025px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
    min-height: 100vh; /* Change this to 100vh to ensure full height */
    box-sizing: border-box;
  }

  .outlet {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 40px); /* Subtract the height of NavBarMobile */
    background-color: #f2f4f3;
    padding: 12px;
    box-sizing: border-box;
    flex: 1; /* Allow .outlet to take remaining vertical space */
  }
}

/**/

/*TEXTS*/

/*NAVBAR*/
h2 {
  font-size: 12px;
  color: white;
  font-family: "Exo";
  margin: 0px;
}

/*LOGIN LOGO TEXT*/
h3 {
  font-size: 18px;
  color: #ef8026;
  font-family: "Exo";
  margin: 0px;
}
/**/

/* INPUT ERASE PLACEHOLDER ON CLICK*/
input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* INPUT THICK BORDER NONE ON CLICK*/
:focus-visible {
  outline: none;
}
/**/

/*CARD LABEL*/
label {
  background-color: rgb(34, 37, 42);
  color: white;
  font-size: 18px;
  font-family: "Exo", "serif";
  font-weight: 700;
  box-sizing: content-box;
  padding: 8px;
  border-radius: 4px;
}

/*CHART CANVAS RESPONSIVE SIZE*/
canvas {
  max-width: 100% !important;
  max-height: 100% !important;
}

/*TABULATOR*/

.tableContainer {
  width: 100%;
}

/*Style couleur background derière les headers des colonnes*/
.tabulator .tabulator-header {
  background-color: transparent;
  border: none;
}

/*Style header pour chaque colonne (Text, background)*/
.tabulator .tabulator-header .tabulator-col {
  border-right: none;
  background-color: transparent; /*couleur case pour titre  de colonne*/
  font-size: 10px; /*taille text pour titre  de colonne*/
  color: #9e9fa1; /*couleur text pour titre  de colonne*/
  font-weight: bold; /*weight text pour titre  de colonne*/
}

/*Style deplacer la totalité des headers colonne */
.tabulator .tabulator-header .tabulator-header-contents {
  position: relative;
  overflow: hidden;
  padding-left: 4px; /*marge gauche des case titre de colonne*/
}

/*Background de tabulator (derière les colonnes et rows)*/
.tabulator {
  background-color: transparent;
  border: none;
}

/*Background de tabulator (derière rows)*/
.tabulator .tabulator-tableholder .tabulator-table {
  background-color: transparent;
}

/*Style rows et des texts)*/
.tabulator-row {
  background-color: white; /*couleur rows (inclu pas les row pair)*/
  margin-bottom: 4px; /*marge entre chaque row*/
  padding-left: 4px; /*Deplacement des cell du row*/
  border-radius: 6px; /*radius de chaque row*/
  color: #636d79; /* couleur text chaque row*/
  font-size: 12px; /* taille text chaque row*/
}

/*Style rows pair* (pour couleur background)*/
.tabulator-row.tabulator-row-even {
  background-color: white; /*couleur rows pair*/
}

/*Style positionnement des text de chaque cell*/
.tabulator-row .tabulator-cell {
  border-right: none;
}

.tabulator .tabulator-footer {
  border-top: none;
  background-color: transparent;
}

.tabulator .tabulator-footer .tabulator-footer-contents {
  font-size: 12px;
}

.tabulator-paginator label {
  display: none;
}

/* Style Bouttons active*/
.tabulator .tabulator-footer .tabulator-page.active {
  color: #ef8126;
}

.tabulator-row.tabulator-selectable:hover {
  background-color: #e7e8ea;
}

.tabulator
  .tabulator-header
  .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
  background-color: transparent;
}
