body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*FULL PAGE CONTAINER*/
.main {
  display: flex;
  width: auto;
  min-height: 100vh;
  box-sizing: border-box;
}
/**/

/*FULL CONTENT CONTAINER*/
.outlet {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #f2f4f3;
  padding: 12px;
  box-sizing: border-box;
}

/*TEXTS*/

/*NAVBAR*/
h2 {
  font-size: 11px;
  color: white;
  font-family: "Exo";
  margin: 0px;
}

/*LOGIN LOGO*/
h3 {
  font-size: 18px;
  color: #ef8026;
  font-family: "Exo";
  margin: 0px;
}
/**/

/* INPUT PLACEHOLDER ON CLICK ERASE*/
input:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus-visible {
  outline: none;
}
/**/

/*CARD LABEL*/
label {
  background-color: #06171f;
  color: white;
  font-size: 18px;
  font-family: "Exo", "serif";
  font-weight: 700;
  box-sizing: content-box;
  padding: 4px;
  border-radius: 4px;
}

/*CHART CANVAS RESPONSIVE SIZE*/
canvas {
  max-width: 100% !important;
  max-height: 100% !important;
}
